<template>
    <div class="background-banner">
        <font-awesome-icon :icon="['fas', 'angle-left']" class="icon icon-left" @click="back()" />
        <div class="container">
            <div class="avatar">
                <md-avatar class="md-large">
                    <img :src="getImage(items[current]).src" :alt="getImage(items[current]).alt">
                </md-avatar>
            </div>
            <div class="description">
                <h1>{{ items[current] ? items[current].title : '' }}</h1>
                <h3>
                    {{ items[current] ? items[current].description : '' }}
                </h3>
            </div>
            <div class="avatar-min">
                <md-avatar class="md-large" v-if="getItem(1)">
                    <img :src="getImage(getItem(1)).src" :alt="getImage(getItem(1)).alt">
                    <div class="avatar-container" @click="setCurrent(1)">{{ getItem(1).title }}</div>
                </md-avatar><br>
                <md-avatar class="md-large" v-if="getItem(2)">
                    <img :src="getImage(getItem(2)).src" :alt="getImage(getItem(2)).alt">
                    <div class="avatar-container" @click="setCurrent(2)">{{ getItem(2).title }}</div>
                </md-avatar><br>
                <md-avatar class="md-large" v-if="getItem(3)">
                    <img :src="getImage(getItem(3)).src" :alt="getImage(getItem(3)).alt">
                    <div class="avatar-container" @click="setCurrent(3)">{{ getItem(3).title }}</div>
                </md-avatar>
            </div>
        </div>
        <font-awesome-icon :icon="['fas', 'angle-right']" class="icon icon-right" @click="next()" />
    </div>
</template>
<script>
import Vue from 'vue';
import { getImage } from '@/utils/defaults';

export default {
    name: 'banner001',
    data() {
        return {
            current: 0
        }
    },
    props: {
        items: null
    },
    methods: {
        getItem (n) {
            if (this.items[this.current+n]) {
                return this.items[this.current+n];
            }
        },
        getImage,
        next () {
            if (this.items[this.current+4]) {
                this.current = this.current + 1;
            }
        },
        back () {
            if (this.items[this.current-1]) {
                this.current = this.current - 1;
            }
        },
        setCurrent (n) {
            this.current = this.current + n;
        }
    },
}
</script>
<style lang="scss" scoped>
    .background-banner {
        background-image: url('../../assets/imgs/fondo3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        width: 100%;
        .icon {
            margin: auto;
            background: $light-primary;
            font-size: 30px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            z-index: 100;
            &:hover {
                animation: heartBeat .8s;
                cursor: pointer;
            }
        }
        .container {
            width: 90%;
            height: 500px;
            margin: auto;
            max-width: 100%;
            display: flex;
            padding: 0;
            background: rgba(black, 0.6);
            border-radius: 100px;
            .avatar {
                width: 300px;
                height: 100%;
                z-index: 100;
                .md-large {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px $secondary;
                    margin-top: 100px;
                    img {
                        object-fit: cover;
                    }
                }
            }
            .description {
                width: 100%;
                height: 500px;
                padding: 50px 0;
                overflow: hidden;
                h1 {
                    width: 100%;
                    height: 20%;
                    font-size: 50px;
                    font-weight: bold;
                    left: 10%;
                    color: $light-primary;
                }
                h3 {
                    width: 100%;
                    height: 80%;
                    padding: 10px;
                    color: $light-primary;
                    text-align: justify;
                    overflow: hidden;
                }
            }
            .avatar-min {
                width: 150px;
                height: 500px;
                .md-large {
                    min-width: 50px;
                    min-height: 50px;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    box-shadow: 5px 5px 15px $secondary;
                    margin: 20px 0;
                    img {
                        object-fit: cover;
                    }
                    .avatar-container {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 20px;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        z-index: 100;
                        background: rgba($secondary, 0.5);
                        display: none;
                        color: $light-primary;
                        cursor: pointer;
                    }
                    &:hover {
                        .avatar-container {
                            display: flex;
                            animation: fadeIn 1s;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .icon {
                position: absolute;
                top: 310px;
                z-index: 1;
            }
            .icon-left {
                left: 2%;
            }
            .icon-right {
                right: 2%;
            }
            .container {
                width: 100%;
                .avatar {
                    width: 25%;
                    .md-large {
                        margin-top: 210px;
                        width: 100px;
                        height: 100px;
                        z-index: 0;
                    }
                    z-index: 0;
                }
                .description {
                    width: 55%;
                    h1 {
                        margin: 0;
                        font-size: 25px;
                    }
                    h3 {
                        margin: 0;
                        font-size: 18px;
                    }
                }
                .avatar-min {
                    width: 20%;
                    .md-large {
                        margin-top: 63px;
                        left: -10px;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
</style>