<template>
    <div class="card-expansion">
        <md-card>
            <md-card-media>
                <img :src="image().src" :alt="image().alt">
            </md-card-media>

            <md-card-header>
                <div class="md-title">{{data()}}</div>
                <div class="md-subhead"></div>
            </md-card-header>

            <md-card-expand>
                <md-card-actions md-alignment="space-between">
                    <div>
                        <md-button>
                            <a @click="detailService()">
                                Ver más
                            </a>  
                        </md-button>
                        <md-button>
                            <a>
                                Unirme al Equipo
                            </a>  
                        </md-button>
                    </div>

                    <md-card-expand-trigger>
                        <md-button class="md-icon-button">
                            <md-icon>
                                <font-awesome-icon :icon="['fas', 'angle-down']" class="icon" />
                            </md-icon>
                        </md-button>
                    </md-card-expand-trigger>
                </md-card-actions>

                <md-card-expand-content>
                    <md-card-content>
                        {{description()}}
                    </md-card-content>
                </md-card-expand-content>
            </md-card-expand>
        </md-card>
    </div>
</template>
<script>
import Vue from 'vue';

export default {
    name: 'card002',
    data: () => ({
        default: {
            src:'https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png',
            alt: 'default'
        },
        dataDefault: {
            attribute: 'Campo vacio'
        }
    }),
    props: {
        item: {} 
    },
    methods: {
        data () {
            if ( this.item && this.item.title !== null ){
                return this.item.title;
            }
            return this.dataDefault.attribute;
        },
        description () {
            if ( this.item && this.item.description ){
                return this.item.description;
            }
            return this.dataDefault.attribute;
        },
        image () {
            if (this.item && this.item.images && this.item.images[0]!=undefined) {
                return this.item.images[0];
            }
            return this.default;
        },
        detailService () {
            this.$store.commit( 'data/serviceDetail', this.item );
            this.$router.push( '/listworker' );
        }
    }
}
</script>
<style lang="scss" scoped>
    .card-expansion {
    height: 480px;
    }

    .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
    }
    .md-card-media {
        img {
            width: 100%;
            height: 200px;
        }
    }

    .md-card.md-theme-default{
        background-color: #9b9b9b;
    }

    .md-card.md-theme-default .md-card-expand .md-card-actions {
        background-color:$primary;
    }
    .md-card-expand-content {
        height: 130px;
        margin-top: -130px;
        .md-card-content{
            height: 130px;
            overflow: hidden;
            padding: 16px;
            padding-bottom:16px !important;
            text-align: justify;
            line-height: normal;
            font-size:12px;

        }
    }
    .md-icon {
        .icon{
            color:$secondary;
        }
    }

    .md-card-header{
        .md-title {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .md-button {
        a {
            color:$light-primary;
            text-decoration: none;
            &:hover {
                color:$light-primary;
                font-weight: bold;
            }
        }
    }
</style>