<template>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <slot name="face1" />
                    <h3>{{item.name}}</h3>
                </div>
            </div>
            <div class="face face2">
                <p>{{item.shortDescription}}</p>
                <slot name="face2" />
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';

export default {
    name: 'card001',
    props: {
        item: {},
        dataApi: {}
    }
}
</script>
<style lang="scss" scoped>
    .container {
        position: relative;
        display: flex;
        width: auto;
        justify-content: space-between;
        .card {
            position: relative;
            border:0;
            background-color: $secondary;
            opacity: 0.5;
            margin: auto;
            &:hover {
                opacity: 1;
                .face {
                    transform: translateY(0);
                }
                .face1 {
                    transform: translateY(0);
                    background-color: $primary;
                }

                .face2 {
                    transform: translateY(0);
                }
            }
            .face {
                width: 280px;
                height: 200px;
                transition: 0.5s;
            }
            .face1 {
                position: relative;
                background:$secondary;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
                @media screen and (max-width: 991px) {
                        width: 280px;
                }
                .content {
                    transition: 0.5s;
                    &:hover {
                         opacity: 1;
                    }
                    img {
                        &:hover {
                            max-width: 100px;
                        }
                    }
                    h3 {
                        margin: 10px 0 0;
                        padding: 0;
                        color:#fff;
                        text-align: center;
                        font-size: 1.8em;
                        font-weight: bold;
                        @media screen and (max-width: 991px) {
                            font-size: 1.4em;
                        }

                    }
                }
            }
            .face2 {
                position: relative;
                justify-content: center;
                background: #fff;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0,0,0,0.8);
                transform: translateY(-100px);
                font-size: 20px;
                overflow:auto;
                @media screen and (max-width: 991px) {
                    font-size: 15px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 0.8rem;
                    text-align: justify;

                }
                a {
                    margin:5px 0 0;
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 900;
                    color: $secondary;
                    padding: 5px;
                    border: 1px solid $secondary;
                    &:hover{
                    color:#fff;
                    background:$secondary;
                    }
                    cursor: pointer;
                }
            }
        }
    }
</style>
