<template>
    <div>
        <div id="slider" class="slider-big">
            <div class="image-wrap">
                <slot name="image" />
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';

export default {
    name: 'service001',
}
</script>

<style lang="scss" scoped>
    #slider{
        padding-top: 0px;
        width: 100%;
        height: 350px;
        color: white;
        text-shadow: 0px 0px 5px #444;
        background: burlywood;
    }

    #slider h1 {
        margin-top: 0.2px;
        padding: 0px;
        text-align: center;
        padding-top: 130px;
    }
    .image-wrap img {
        width: 100%;
        height: 350px;
        text-align: center;
        border: 0px;
        
    }

   
</style>