<template>
    <div id="desc-worker">
        <p>
            {{user.descripcion}}
        </p>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';

export default {
    name: 'descriptionWorker',
    props: {
        user:{}
    }
}
</script>

<style lang="scss" scoped>
h2{
    padding: 0px;
}
h6{
    font-weight: normal;
    font-size: 12px;
    padding: 0px;
}
#desc-worker {
    float: left;
    width: 74%;
    background: $secondary;
    padding: 10px;
    height: 150px;
    border: none;
    border-left: 6px solid $primary;
}
#desc-worker p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    color: white;
      
}
</style>