$header-size:100px;
$footer-size:120px;
$input-height: 40px;
$mobile-height: 50px;
$side-margins: 45px;
$mobile-margins:15px;
$border-radius:15px;
$mobile-filter-height: 120px;
$background-opacity:0.3;

.md-layout {
    width: 100%;
}

.group-input {
    padding: 10px;
    width: 100%;
    label {
        padding: 0;
        margin: 0;
        color:$light-primary;
    }
    .md-field {
        padding: 0;
        margin: 0;
        min-height: 20px;
        .icon {
            color: $light-primary;
            margin-top: 6px;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .md-field.md-theme-default::before{
        background-color:$primary;
    }
    .md-icon-button {
        top: 2px;
    }
    .error {
        color: red;
        background-color: rgba($light-primary, .3);
        width: 100% !important;
        border-radius: 0 0 10px 10px;
        padding: 0 5px;
        text-align: center;
    }
    @media screen and (max-width: 991px){
        width: 100%;
    }
}