<template>
    <div  id="mainSidebar" class="main-container">

        <service001>
            <img slot="image" :src="image().src" :alt="image().alt">
        </service001>
        <h1>Ultimas publicaciones</h1>
        <sidebar001 id="sidebar"></sidebar001>
        <lastServices001 id="card"
            v-for="(user, index) in userlist"
            :key="index"
            :item="user" >
        </lastServices001>

    </div>
</template>

<script>
import Vue from 'vue';
import Vuex from 'vuex';
import sidebar001 from '~/components/Sidebar/sidebar001.vue';
import lastServices001 from '~/components/lastServices/lastServices001.vue';
import service001 from '~/components/Card/service001.vue';

export default Vue.extend({
    data: () => ({
        default: {
            src:'https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png',
            alt: 'default'
        },
        userworkers: [],
        userlist: []
    }),
    components: {
        sidebar001,
        lastServices001,
        service001
    },
    computed: {
        service () {
            return this.$store.state.data.serviceDetail;
        },
        users () {
            return this.$store.state.sessionStorage.allUsers;
        }
    },
    beforeMount () {
        // console.log( this.service );
        console.log( this.users );
        //console.log(this.userworkers);

    },
    mounted () {
        console.log('aaa');
        this.userworkers = this.users.filter((user) => user.role.name === 'Administrador');
        this.userlist = this.userworkers.filter( (user) =>
            user.services.find((service) => service.id === this.service.id )
        );
        console.log(this.userworkers);
        console.log(this.userlist);

    },
    methods : {
        image () {
            if (this.service && this.service.images && this.service.images[0]!=undefined) {
                return this.service.images[0];
            }
            return this.default;
        }
    }
})
</script>

<style lang='scss' scope>

    $marginService: 10px;
    .main-container {
        width: 100%;
        height: 1400px;
        padding: 100px;
        background-color: $secondary;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        h1 {
            padding-top: 10px;
            color: $light-primary;
            font-weight: bold;
            font-size: 30px;
            text-shadow: 0px 0px 3px black;
            text-align: center;
            @media screen and (max-width: 991px) {
                font-size:15px;
            }
        }
        .list {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .list-card {
                width: calc(33% - #{$marginService} - #{$marginService / 2});
                max-width: 330px;
                margin-bottom: $marginService;
                transition: all 200ms ease-in-out;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    margin: $mobile-margins !important;
                }

                &:nth-child(odd) {
                    margin-right: $marginService / 2;
                    margin-left: $marginService;
                }

                &:nth-child(even) {
                    margin-left: $marginService / 2;
                    margin-right: $marginService;
                }
            }
        }
    }
</style>
