<template>
    <div  class="main-container">
        <div class="low">
            <div>
                <h5>
                    Dejanos que esta experiencia sea la mejor, por eso hemos puesto para ti búsquedas que hace más facil
                    adaptarte a las normas de la Ley 842 de 2003
                </h5>
            </div>
            <div class="search">
                <v-text-field
                    class="input-search"
                    v-model="searchTitulo"
                    background-color="#ba9099"
                    :label="TitleInputT"
                    :loading="loading"
                    solo
                    flat
                >
                    <template #append>
                        <v-icon
                            class="icon-search"
                            @click="loadData"
                        >
                            mdi-magnify
                        </v-icon>
                    </template>
                </v-text-field>
                <v-text-field
                    class="input-search"
                    v-model="searchACapitulo"
                    background-color="#ba9099"
                    :label="TitleInputC"
                    :loading="loading"
                    solo
                    flat
                >
                    <template #append>
                        <v-icon
                            class="icon-search"
                            @click="loadDataCapitulo"
                        >
                            mdi-magnify
                        </v-icon>
                    </template>
                </v-text-field>
                <v-text-field
                    v-model="searchArticulo"
                    background-color="#ba9099"
                    :label="TitleInputA"
                    :loading="loading"
                    solo
                    flat
                >
                    <template #append>
                        <v-icon
                            class="icon-search"
                            @click="loadData"
                        >
                            mdi-magnify
                        </v-icon>
                    </template>
                </v-text-field>
            </div>

            <h1>Ley 842 de 2003</h1>
            <v-divider class="line-notice"></v-divider>
            <span>(Octubre 9)</span>
            <span>Diario Oficial No. 45.340, de 14 de octubre de 2003</span>
            <h6>Por la cual se modifica la reglamentación del ejercicio de la ingeniería, de sus profesiones afines y de sus profesiones auxiliares, se adopta el Código de Ética Profesional y se dictan otras disposiciones</h6>
            <span>El Congreso de Colombia</span>
            <h6>DECRETA:</h6>
            <div
                v-for="(titulo, index) in  getObjs(searchValue, titulosArray, false, true)"
                :key="index"
            >
              <h5>TITULO {{ vartitulo(titulo.cod_titulo) }}</h5>
              <h6>{{ titulo.nombre_titulo }}</h6>
              <div v-for="(cap, indexcap) in getObjs(searchValue, titulo.capitulo, false, true)"
                  :key="indexcap"
              >
                <h6>CAPITULO {{ varcapitulo(indexcap) }}</h6>

                  <h6>{{ cap.nombre_capitulo }}</h6>
                  <div  class="art" v-for="(art, indexart) in getObjs(searchValue, cap.articulo, false, true)"
                      :key="indexart"
                  >
                      <div class="titulo-articulo">
                        <p>
                            <span class="title">ARTICULO{{  itemArticulo(art.cod_articulo) }}</span>&nbsp;
                            <span class="title-art">{{ art.nombre_articulo }}</span>&nbsp;
                            <span>{{ art.descripcion_articulo }}</span>
                        </p>
                      </div>
                      <div class="parrafos" v-for="(parr, indexparr) in getObjs(searchValue, art.parrafo, false, true)"
                          :key="indexparr"
                      >
                          <p>{{parr.contenido}}</p>
                      </div>
                      <div class="parrafos" v-for="(paragra, indexparagra) in getObjs(searchValue, art.paragrafo, false, true)"
                          :key="indexparagra"
                      >
                          <p>{{paragra.contenido}}</p>
                      </div>
                      <span class="nota">{{art.nota}}</span>
                  </div>
              </div>



            </div>
        </div>
        <!-- <div class="list">
            <card002
                v-for="(service, index) in getObjs(searchValue, services, false, true)"
                :key="index"
                class="list-card"
                :item="service"
            />
        </div> -->
    </div>
</template>

<script>
import Vue from 'vue';
import card002 from '~/components/Card/card002.vue';
import { getObjs } from '@/utils/defaults';
import { servicesData, queryRoles, queryAllUsers, getQuery, benefitData, titulos } from '@/ts/queries';
import { apiFetch } from '@/utils/apiFetch';

export default Vue.extend({
    components: {
        card002
    },

    data: () => ({
        titulos: [] = [],
        titulosArray: [] = [],
        loading: false,
        TitleInputT: 'Buscar titulo',
        TitleInputC: 'Buscar Capitulo',
        TitleInputA: 'Buscar Articulo',
        miTitle: 'Búscar por ',
        searchTitulo: '',
        searchACapitulo: '',
        searchArticulo: '',
    }),
    computed: {
        searchValue () {
            return this.$store.state.sessionStorage.searchValue;
        },
        services () {
            return this.$store.state.data.cartServices;
        }
    },
    beforeMount () {
    },
    mounted () {
        this.$store.commit('sessionStorage/setSearch', true);
        apiFetch(getQuery( [titulos] ), null).then( ( response ) => {
            this.titulos = response.data.titulos;
            console.log( this.titulos );
        });
        console.log( Object.values(this.titulos), 'JSANDAS');
        Object.values(this.titulos);
        this.titulosArray = this.titulos.filter( ( titulo ) => titulo );
    },
    watch: {
      searchTitulo( value){
        if ( this.searchTitulo !== '' || this.searchTitulo || this.searchTitulo.length > 0 ) {
            this.loadData();
        };
      },

      searchACapitulo( value){
        if ( this.searchACapitulo !== '' || this.searchACapitulo || this.searchACapitulo.length > 0 ) {
            this.loadDataCapitulo();
        };
      },

      searchArticulo( value){
        if ( this.searchArticulo !== '' || this.searchArticulo || this.searchArticulo.length > 0 ) {
            this.loadData();
        };
      },
    },
    methods: {
        getObjs,
        vartitulo ( index ) {
            if ( index === 1 ) {
              return 'I';
            }
            if ( index === 2 ) {
              return 'II';
            }
            if ( index === 3 ) {
              return 'III';
            }
            if ( index === 4 ) {
              return 'IV';
            }
            if ( index === 5 ) {
              return 'V';
            }
            if ( index === 6 ) {
              return 'VI';
            }
        },
        varcapitulo ( index ) {
            if ( index === 0 ) {
              return 'I';
            }

            if ( index === 1 ) {
              return 'II';
            }
            if ( index === 2 ) {
              return 'III';
            }
        },
        itemArticulo ( item ) {
            const result = item-100;
            return`${ '  ',result }`;
        },
        loadData () {
            this.titulosArray = this.titulos.filter( ( titulo ) => {
                let filter = ( this.searchTitulo && this.searchTitulo !== '' ) ? ( titulo.nombre_titulo.toLowerCase().trim()
                    .search( this.searchTitulo.toLowerCase().trim() ) >= 0 ) : false;
                return filter;
            } );
        },
        loadDataCapitulo () {
            this.titulosArray = this.titulos.filter( ( titulo ) => {
                if ( titulo.capitulo ) {
                    const capi= titulo.capitulo.filter ( ( cap ) => {
                        let filter = ( this.searchACapitulo && this.searchACapitulo !== '' ) ? (
                          cap.nombre_capitulo ? (cap.nombre_capitulo.toLowerCase().trim().search( this.searchACapitulo.toLowerCase().trim() ) >= 0) : ''
                        ) : false;
                        return filter;
                    });
                }
            } );
        }
    }
})
</script>

<style lang='scss' scope>
    $marginService: 10px;
    .main-container {
        width: 100%;
        padding: 100px;
        height: 2100px;
        background-color: #fff;
        justify-content: center;
        text-align: center;
        color: #000;
        display: inline-table;
        @media screen and (max-width: 991px) {
            padding-top:100px !important;
            padding-bottom: 100px !important;
            padding:10px;
            height: auto;
        }

        h1 {
            color: black;
            font-weight: bold;
            font-size: 30px;
            text-align: flex-start;
            @media screen and (max-width: 991px) {
                font-size:15px;
            }
        }
        .list {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .list-card {
                width: calc(33% - #{$marginService} - #{$marginService / 2});
                max-width: 330px;
                margin-bottom: $marginService;
                transition: all 200ms ease-in-out;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    margin: $mobile-margins !important;
                }

                &:nth-child(odd) {
                    margin-right: $marginService / 2;
                    margin-left: $marginService;
                }

                &:nth-child(even) {
                    margin-left: $marginService / 2;
                    margin-right: $marginService;
                }
            }
        }
        .line-notice {
            border-color: #ff1744;
        }
    }

    .low {
      display: flex;
      flex-flow: column;
    }
    .titulo-articulo {
      display: flex;
      margin-top: 20px;
      text-align: flex-start  !important;
      justify-content: flex-start;
      text-align: flex-start !important;

      .parrafo {
        text-align: start !important;
        justify-content: flex-start;
        text-align: flex-start !important;
      }

      .title {
        font-weight: 500;
        text-align: start;
      }
      .title-art {
        font-weight: 500;
      }
    }

    .art {
      text-align: -webkit-left;

      .parrafos {
         display: flex;
         flex-flow: column;
      }
    }

    .nota {
        font-weight: 500;
    }

.search {
    display:  flex;

    .input-search {
        margin-right: 15px;
    }
}
</style>
