<template>
    <div>
        <b-nav-item v-b-toggle.sidebar-variant href="#">
            <font-awesome-icon :icon="['fas', 'align-justify']" class="icon"/>
        </b-nav-item>
        <b-sidebar id="sidebar-variant" title="Sidebar" bg-variant="dark" text-variant="light" shadow>
            <div class="px-3 py-2">
                <b-list-group style="max-width: 300px;">
                    <b-list-group-item class="d-flex align-items-center" v-if="authenticated">
                        <b-avatar variant="info" src="http://www.uniagraria.edu.co/wp-content/uploads/2015/10/COP.png" class="mr-3"></b-avatar>
                        <span class="mr-auto">
                            <a style="color:$light-primary;" href="/edit-profile">Mi perfil </a>
                        </span>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex align-items-center" v-if="isVisible('login')">
                        <b-avatar variant="primary" class="mr-3">
                            <font-awesome-icon :icon="['fas', 'sign-in-alt']"/>
                        </b-avatar>
                        <span class="mr-auto">
                            <a style="color:$light-primary;" href="/login">Iniciar Sesión </a>
                        </span>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex align-items-center">
                        <b-avatar variant="success" icon="people-fill" class="mr-3">
                            <font-awesome-icon :icon="['fas', 'address-card']"/>
                        </b-avatar>
                        <span class="mr-auto">
                            <a style="color:$light-primary;" href="/aboutOf">Acerca de Nosotros</a>
                        </span>
                    </b-list-group-item>
                    <b-list-group-item class="d-flex align-items-center" v-if="authenticated">
                        <b-avatar variant="success" class="mr-3">
                            <font-awesome-icon :icon="['fas', 'sign-out-alt']"/>
                        </b-avatar>
                        <span class="mr-auto">
                            <a style="color:$light-primary;" @click="singOut()">Cerrar sesión</a>
                        </span>
                    </b-list-group-item>
                </b-list-group>
                <div class="marker" />
            </div>
        </b-sidebar>
    </div>
</template>
<script>
import Vue from 'vue';
import Vuex from 'vuex';

export default {
    name: 'navdrawer',
    props: {
        title: String
    },
    computed: {
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        },
        user () {
            return this.$store.state.sessionStorage.user;
        },
        optionsMenu () {
            return {
                login: this.$store.state.data.optionsMenu.login,
                register: this.$store.state.data.optionsMenu.register
            };
        },
    },
    methods: {
        isVisible ( menu ) {
            if (!this.authenticated && menu && menu.trim()!=='') {
                if (this.optionsMenu) {
                    return this.optionsMenu[menu.trim()];
                }
            }
            return false;
        },
        singOut () {
            this.$store.commit('sessionStorage/setAuthenticated', false);
            this.$store.commit('sessionStorage/setUser', null);
            this.$router.push('/');
        }
    },
}
</script>
<style lang="scss" scoped>
    .icon {
        color: $light-primary;
        font-size: 23px;
        &:hover {
            font-size: 25px;
        }
    }
    .img-logo-navdrawer {
        width: 200px;
    }
    .marker {
        width:50%;
        height: 5px;
        margin: auto;
        background-color: $primary;
        background: linear-gradient(to right, transparent 0%, rgba(saturate($primary, 50%), 0.7) 50%, transparent 100%);
        border-radius: 50%;
        bottom: 0;
        left: 0;
        transition: all 0.2s ease-in-out;

        @media screen and (max-width: 991px){
            display: none;
        }
    }
    .list-group-item {
        background: transparent;
    }

    .md-theme-default  a{
        color:$light-primary;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color:$light-primary;
            text-decoration: none;
        }
    }
    .b-sidebar {
        display: flex;
        background: $secondary !important;
        height: auto !important;
    }

    .bg-dark {
        display: flex;
        background: $secondary !important;
    }
</style>
